.about-us {
    display: flex;
    justify-content: space-around;
}

.about-us-h2-p {
    color: white;
    text-align: center;
    padding: 10px;
}

.about-img {
    display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius: 10px;
}

.about-description {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.about-description > h2 {
    text-align: center;
    color: #2b547e;
}

.about-description > p {
    text-align: justify;
    font-size: 18px;
    color: #837e7c;
    font-weight: bold;
}

.about-contact  {
    color: #306eff !important;
    font-size: 20px !important;
}



@media screen and (max-width: 600px) {
    .about-us {
        display: flex;
        flex-direction: column;
    }

    .about-description {
        width: 80%;
    }
    .about-description > p {
        font-size: 15px;
    }
    .about-contact {
        font-size: 13px;
    }
}