.catering {
    width: 100%;
    background-color: black;
    padding-bottom: 50px;
}

.catering > h2 {
    padding-top: 50px;
    text-shadow: 2px 2px #FF0000;
}


.catering-item {
    color: #fff;
    text-align: center;
}

.catering-image-container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.catering-image-container > div > img {
    width: 250px;
    height: auto;
    border-radius: 20px;
}

.take-action {
    display: flex;
    justify-content: space-around;
    background-color: #104eab;
    margin-bottom: -10px;
    width: 100%;
    max-width: 100%;
    padding-bottom: 50px;
}

.take-action > div {
    margin: 10px;
}


.housekeeping-header-div {
    padding: 20px;
}
.housekeeping-header {
    text-align: center;
    max-width: 100%;
}


.housekeeping {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    margin-bottom: -10px;
    width: 100%;
    max-width: 100%;
    padding-bottom: 30px;
}

.housekeeping > div {
    margin: 10px;
}



.hide {
    display: none;
}
.calculating {
    display: flex;
}
.calculating > img {
    width: 50px;
    border-radius: 50%;
}

.call-to-action {
    text-align: left;
    padding: 20px;
}

.call-to-action > p {
    font-size: 25px;
    color: blue;
    max-width: 95%;
}


@media screen and (max-width:600px) {
    .catering-item {
        padding: 5px;
    }
    .catering-image-container {
        width: 100%;
        padding: 5px;
    }
    .catering-image-container > div > img {
        width: 80px;
    }

    .take-action {
        display: flex;
        flex-direction: column;
    }

         .housekeeping {
             display: flex;
             flex-direction: column;
         }
}