html {
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  max-width: 100%;
}

/* .grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100%;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
} */

/* .mazuka-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  max-width: 95%;
}

.mazuka-header-name {
  font-size: 20px;
  font-weight: 1000;
  color: #191970
}

.mazuka-header-links {
  display:flex;
}
.mazuka-header-links > a {
  text-decoration: none;
  color: #009acd;
  margin: 5px;
  font-size: 20px;
}

.mazuka-header-links>a:hover {
  color:#00688b;
  font-weight: bold;
  margin-left: 3px;
  transition: 1s ease-in-out;
} */


.carousal {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #87ceeb;
}

.description {
  color:#fff;
  font-size: 18px;
  align-self: flex-start;
  max-width: 40%;
  padding: 10px;
  margin: 5px;
  font-weight: bolder;
  border-radius: 10px;
  text-align: justify;
}
.description > p {
  text-align: justify;
}


.carousal-content {
  max-width: 50%;
  margin: 5px;
}

img {
  max-height: 250px;
  height: auto;
  width: 100%;
}

img:hover {
  scale: 1.1;
  transition: 1s ease-in;
}

.caro-div {
  max-height: 499 !important;
  max-width: 400px;
}

.caro-div>img {
  object-fit: contain !important;
  border-radius:10px;
}

.caro-div>p {
  font-size: 20px;
  font-weight: bold;
  /* background-color: #00688b; */
  background-color: black;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
}

/*style the contend/description of the varoius services on hover*/
.content:hover {
  color: #00688b;
}

.typography-content:hover {
  color:black;
}
.ourservice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 100%;
  background-color: black;
  padding-bottom: 20px;
}

.ourservices > h2 {
  background-color: black;
  /* background-color: #00688b; */
  color: #fff;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.ourservice-container {
  max-width: 100%;
}
.ourservice-container>div {
  margin: 5px;
  padding: 5px;
}


/* experience section */

.experience-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 95%;
  padding: 10px;
}

.experience {
  max-width: 50%;
}

.experience > h2 {
  text-align: center;
}

.experience > p {
  text-align: center;
  color: #4a4a4a;
  font-size: 14px;
  max-width: 100%;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.clients > div > img {
  width: 60px;
  margin: 10px;
  align-items: center;
}

.policy {
  max-width: 50%;
  font-size: 12px;
  font-weight: bold;
  background-color: #00688b;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
  margin: 3px;
}
.policy > p {
  font-size: 14px;
}

.topArrow {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: green;
  font-weight: bold;
}



/* .mazuka-footer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #282828;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}

.office {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.office-header {
  color: yellow;
}

.office > div > p {
  max-width: 40%;
  font-size: 13px;
}

.contact > p {
  display: flex;
  align-items: center;
  font-size: 13px;
} */

/* from catering page */

.catering {
  width: 100%;
  background-color: black;
  padding-bottom: 50px;
  margin-top: -19px;
}

.catering>h2 {
  padding-top: 50px;
  text-shadow: 2px 2px #FF0000;
  font-size: 25px;
}


.catering-item {
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 95%;
}

.take-action {
  display: flex;
  justify-content: space-around;
  background-color: black !important;
  margin-bottom: -10px;
  width: 100% ;
  max-width: 100%;
  padding-bottom: 50px;
}

.take-action>div {
  margin: 10px;
}


.housekeeping-header-div {
  padding: 20px;
}

.housekeeping-header {
  text-align: center;
  width: 100%;
  max-width: 100%;
}


.housekeeping {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  margin-bottom: -10px;
  width: 100%;
  max-width: 100%;
  padding-bottom: 30px;
}

.housekeeping>div {
  margin: 10px;
}


.call-to-action {
  text-align: left;
  padding: 20px;
  max-width: 90%;
}

.call-to-action>p {
  font-size: 20px;
  color: blue;
  max-width: 90%;
  font-weight: bold;
}


@media screen and (max-width:600px) {
  .catering-item {
    padding: 5px;
    max-width: 95%;
  }

  .catering-image-container {
    width: 100%;
    padding: 5px;
    padding-left: 7px;
  }

  .catering-image-container>div>img {
    width: 80px;
  }

  .take-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

    .housekeeping-header {
      padding: 5px !important;
      max-width: 100% !important;
    }
  .housekeeping {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



/* end catering page */



@media screen and (max-width:600px) {
  .mazuka-header {
    flex-direction: column;
    max-width: 100%;
    padding: 10px;
  }
    .mazuka-header-name {
      font-size: 20px;
    }
  
  .carousal {
   width: 100%;
   display: flex;
  flex-direction: column-reverse;
   padding-bottom: 10px;
  }

    .carousal-content {
      max-width: 90%;
    }

  .description {
    /* background-color: black; */
    max-width: 100%;
   margin-bottom: 1px;
   margin-left: 1px;
  }

  .ourservice-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: nowrap; */
    max-width: 100%;
    padding: 10px;
  }

    .ourservices>h2 {
      text-align: center;
      font-size: 25px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  .experience-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

     .experience {
       max-width: 100%;
     }
  
     .experience>h2 {
       text-align: center;
     }
  
     .experience>p {
       max-width: 100%;
       text-align: center;
     }
  
     .clients {
       width: 100%;
       justify-content: center;
     }
  
     .policy {
       max-width: 95%;
       align-self: baseline;
       text-align: justify;
       padding: 10px;
     }

     .call-to-action > p{
      width: 100%;
     font-size: 20px;
     max-width: 95%;
     }

  /* .mazuka-footer {
   display: flex;
   flex-direction: column;
   align-self: baseline;
  padding-bottom: 50px;
  padding-left: 20px;
  }

  .office {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .contact {
    max-width: 80%;
    align-self:baseline;
  } */

} 

.mazuka-footer {
  padding: 20px;
  background-color: #4a4a4a;
  color:#fff
}

.mazuka-footer-item {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.mazuka-footer-item > div {
  justify-self: left;
  align-self: baseline;
  max-width: 30%;
  margin-bottom: 50px;
}

.quick-links {
  display: flex;
  flex-direction: column;
}
.quick-links > a {
  text-decoration: none;
  color: white;
}
.mazuka-footer-item > div > h4 {
  color: yellow;
}

.mazuka-footer-contact >p {
  display: flex;
}


@media screen and (max-width: 600px) {
  .mazuka-footer {
    padding: 10px;
  }
  .mazuka-footer-item {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 10px;
  }
  .mazuka-footer-item > div {
    max-width: 100%;
  }
  .office-p {
    max-width: 95%;
  }
}