/* .mazuka-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

.mazuka-navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mazuka-navbar-menu > div {
    margin: 15px
}
.mazuka-header-naming {
    font-size: 20px;
    font-weight: bold;
    
    color:#2f7ab4;
}
.mazuka-header-links > a {
    text-decoration: none;
  color: #009acd;
  margin: 5px;
  font-size: 20px;
}
.navbar-link > a {
    text-decoration: none;
    color: #009acd;
    margin: 5px;
    font-size: 20px;
}
.mazuka-header-links > a:hover {
    color:blue;
  transition: 1s ease-out;
}
.navbar-link > a:hover {
    color:#00688b;
    transition: 1s ease-out;
}
.hide {
    display: none;
}
.show {
    display:block;
}

@media screen and (max-width: 600px){
    .mazuka-navbar{
        display: flex;
        flex-direction: column;
    }
    .mazuka-navbar-menu {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .mazuka-header-naming {
        font-size: 15px;
    }
    .hide {
        display: block;
    }
    .show {
        display: none;
    }
} */